*.dcu
*.~*
/doc/
/easychange.ppk
/install/setup.exe
/install/EasyChange.exe
/install/EasyChange.chm
/install/setup.exe
/src/EasyChange.dproj.2007
/src/EasyChange.dproj.local
/src/EasyChange.bdsproj.local
/src/EasyChange.dsk
/src/EasyChange.drc
/src/EasyChange.elf
/src/EasyChange.exe
/src/EasyChange.identcache
/src/EasyChange.map
/src/EasyChange.res
/src/test.txt
/src/test/
__history/
/src/profiling/
/archivio/
/test/
/tmp/
/varie/
